In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
data = yf.download("SPY", start="2000-01-01", auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

In [16]:
data

Price            Close        High         Low        Open     Volume
Ticker             SPY         SPY         SPY         SPY        SPY
Date
2000-01-03   91.887756   93.664700   90.900565   93.664700    8164300
2000-01-04   88.294411   91.019059   88.225307   90.683414    8089800
2000-01-05   88.452332   89.419779   86.714875   88.412844   12177900
2000-01-06   87.030815   89.400075   87.030815   88.215445    6227200
2000-01-07   92.085197   92.085197   88.491821   88.649772    8066500
...                ...         ...         ...         ...        ...
2025-11-10  681.440002  682.179993  675.030029  677.239990   75842900
2025-11-11  683.000000  683.570007  678.729980  679.950012   58953400
2025-11-12  683.380005  684.960022  680.950012  684.789978   62312500
2025-11-13  672.039978  680.859985  670.520020  680.500000  103457800
2025-11-14  671.929993  675.659973  663.270020  665.380005   96733700

[6508 rows x 5 columns]

In [28]:
prices = data["Close"].dropna()
prices.tail(32)

Ticker             SPY
Date
2025-10-02  669.219971
2025-10-03  669.210022
2025-10-06  671.609985
2025-10-07  669.119995
2025-10-08  673.109985
2025-10-09  671.159973
2025-10-10  653.020020
2025-10-13  663.039978
2025-10-14  662.229980
2025-10-15  665.169983
2025-10-16  660.640015
2025-10-17  664.390015
2025-10-20  671.299988
2025-10-21  671.289978
2025-10-22  667.799988
2025-10-23  671.760010
2025-10-24  677.250000
2025-10-27  685.239990
2025-10-28  687.059998
2025-10-29  687.390015
2025-10-30  679.830017
2025-10-31  682.059998
2025-11-03  683.340027
2025-11-04  675.239990
2025-11-05  677.580017
2025-11-06  670.309998
2025-11-07  670.969971
2025-11-10  681.440002
2025-11-11  683.000000
2025-11-12  683.380005
2025-11-13  672.039978
2025-11-14  671.929993

In [31]:
quarterly_prices = prices.resample("Q").last()

C:\Users\benna435\AppData\Local\Temp\ipykernel_8660\2492274137.py:1: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quarterly_prices = prices.resample("Q").last()

In [30]:
quarterly_prices

Ticker             SPY
Date
2000-03-31   95.248749
2000-06-30   92.239006
2000-09-30   91.416557
2000-12-31   83.756241
2001-03-31   74.700951
...                ...
2024-12-31  580.989197
2025-03-31  556.199158
2025-06-30  616.141785
2025-09-30  666.179993
2025-12-31  671.929993

[104 rows x 1 columns]

In [32]:
if quarterly_prices.index[-1] > prices.index[-1]:
    quarterly_prices = quarterly_prices.iloc[:-1]

In [36]:
quarterly_prices

Ticker             SPY
Date
2000-03-31   95.248749
2000-06-30   92.239006
2000-09-30   91.416557
2000-12-31   83.756241
2001-03-31   74.700951
...                ...
2024-09-30  566.868286
2024-12-31  580.989197
2025-03-31  556.199158
2025-06-30  616.141785
2025-09-30  666.179993

[103 rows x 1 columns]

In [37]:
quarterly_returns = quarterly_prices.pct_change().dropna()