In [7]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
from datetime import datetime

C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/attr_value.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/tensor.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/resource_handle.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/tensor_shape.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/types.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/full_type.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/function.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/node_def.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/op_def.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/graph.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/graph_debug_info.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/versions.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/protobuf/config.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at xla/tsl/protobuf/coordination_config.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/cost_graph.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/step_stats.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/allocation_description.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/framework/tensor_description.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/protobuf/cluster.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(
C:\Users\benna435\AppData\Roaming\Python\Python312\site-packages\google\protobuf\runtime_version.py:98: UserWarning: Protobuf gencode version 5.28.3 is exactly one major version older than the runtime version 6.31.1 at tensorflow/core/protobuf/debug.proto. Please update the gencode to avoid compatibility violations in the next runtime release.
  warnings.warn(

In [9]:
import yfinance as yf
import pandas as pd
import time

# ============================================
# 1. ORIGINAL TICKERS (YOUR DOWNLOADED LIST)
# ============================================

tickers = [
"MMM","AOS","ABT","ABBV","ACN","ADBE","AMD","AES","AFL","A","AAP","AMT","AWK",
"AMP","ABC","AME","AMGN","APH","ADI","ANSS","ANTM","AON","APA","AAPL","AMAT",
"APTV","ADM","ANET","AJG","AIZ","T","ATO","ADSK","AZO","AVB","AVY","BKR","BLL",
"BAC","BK","BAX","BDX","BRO","BBWI","BR","BMY","AVGO","BRK-B","CDNS","CZR",
"CPB","COF","CAH","KMX","CCL","CARR","CTLT","CAT","CBOE","CBRE","CDW","CE","CNC",
"CNP","CDAY","CF","CRL","SCHW","CHTR","CVX","CMG","CB","CHD","CI","CINF","CTAS",
"CSCO","C","CFG","CTXS","CLX","CME","CMS","KO","CTSH","CL","CMCSA","CMA","CAG",
"COP","ED","STZ","CEG","COO","CPRT","GLW","CTVA","CSX","CMI","CVS","DHI","DHR",
"DRI","DVA","DE","DAL","XRAY","DVN","DXCM","FANG","DLR","DFS","DIS","DG","DLTR",
"D","DPZ","DOV","DOW","DTE","DUK","DRE","DD","DXC","EMN","ETN","EBAY","ECL",
"EIX","EW","EA","EMR","ENPH","ETR","EOG","EFX","EQIX","EQR","ESS","EL","ETSY",
"RE","EXC","EXPE","EXPD","EXR","XOM","FFIV","FDS","FIS","FITB","FE","FRC","FISV",
"FLT","FMC","F","FTNT","FTV","FBHS","FOXA","FOX","BEN","FCX","GRMN","IT","GNRC",
"GD","GE","GIS","GM","GPC","GILD","GPN","GL","GS","HAL","HIG","HAS","HCA","PEAK",
"HSIC","HSY","HES","HPE","HLT","HOLX","HD","HON","HRL","HST","HWM","HPQ","HUM",
"HBAN","HII","IBM","IEX","IDXX","ITW","ILMN","INCY","IR","INTC","ICE","IFF","IP",
"IPG","INTU","ISRG","IVZ","IPGP","IQV","IRM","JBHT","J","SJM","JNJ","JCI","JPM",
"JNPR","K","KEY","KEYS","KMB","KIM","KMI","KLAC","KHC","KR","LHX","LH","LRCX",
"LW","LVS","LDOS","LEN","LLY","LNC","LIN","LYV","LKQ","LMT","L","LOW","LUMN",
"LYB","MTB","MRO","MPC","MKTX","MAR","MMC","MLM","MAS","MA","MTCH","MKC","MCD",
"MCK","MDT","MRK","META","MTD","MGM","MCHP","MU","MSFT","MAA","MRNA","MHK","TAP",
"MDLZ","MPWR","MNST","MCO","MS","MOS","MSI","MSCI","NDAQ","NTAP","NFLX","NWL",
"NEM","NWSA","NWS","NEE","NLSN","NKE","NI","NSC","NTRS","NOC","NLOK","NVR","NXPI",
"ORLY","OXY","ODFL","OMC","OKE","ORCL","OGN","OTIS","PCAR","PKG","PH","PAYX",
"PAYC","PFE","PM","PSX","PNW","PXD","PNC","POOL","PPG","PPL","PFG","PG","PGR",
"PLD","PRU","PEG","PSA","PHM","PVH","QRVO","QCOM","DGX","RL","ROP","ROST","RCL",
"SPGI","CRM","SBAC","SLB","STX","SEE","SRE","SHW","SPG","SWKS","SNA","SO","LUV",
"SWK","SBUX","STT","STE","SYK","SIVB","SYF","SNPS","SYY","TMUS","TROW","TT","TDY",
"TFX","TER","TSLA","TXN","TXT","TMO","TJX","TSCO","TTWO","TDG","TRV","TRMB",
"TFC","TWTR","TYL","TSN","UDR","ULTA","USB","UAA","UA","UNP","UAL","UPS","URI",
"UNH","UHS","VFC","VTR","VTRS","VICI","VZ","V","VMW","VNO","VMC","WRB","WAB",
"WMT","WBA","DIS","WM","WAT","WEC","WFC","WELL","WDC","WHR","WMB","WLTW","WYNN",
"XEL","XLNX","XYL","YUM","ZBRA","ZBH","ZION","ZTS"
]


# ============================================
# 2. FIX MAP (RENAME BROKEN TICKERS)
# ============================================

ticker_fix = {
    "ABC": "COR",     # AmerisourceBergen → Cencora
    "ANTM": "ELV",    # Anthem → Elevance Health
    "BLL": "BALL",    # Ball Corp
    "CDAY": "DAY",    # Ceridian → Dayforce
    "FLT": "CORP",    # renamed to CORP
    "FBHS": "FBIN",   # Fortune Brands
    "PEAK": "DOC",    # merged → Physicians Realty
    "RE": "EG",       # renamed
    "NLOK": "GEN",    # Norton → Gen Digital
    "WLTW": "WTW",    # Willis Towers Watson → WTW
}

# ============================================
# 3. REMOVE LIST (DELISTED / MERGED / DEAD)
# ============================================

remove_list = [
    "ANSS","CTLT","CTXS","DFS","DRE","FRC","HES","JNPR","MRO",
    "NLSN","PXD","SIVB","TWTR","VMW","WBA","XLNX"
]


# ============================================
# 4. CLEAN FINAL TICKER LIST
# ============================================

cleaned_tickers = []
for t in tickers:
    if t in remove_list:
        continue
    cleaned_tickers.append(ticker_fix.get(t, t))

len(cleaned_tickers)

404

In [10]:
all_data = {}
start_date = "2000-01-01"
failed = []

for t in cleaned_tickers:
    try:
        print("Downloading:", t)
        df = yf.download(t, start=start_date, auto_adjust=True, progress=False)

        # require enough history
        if df.shape[0] < 4000:
            raise Exception("Insufficient history")

        all_data[t] = df["Close"]
    except Exception as e:
        print("FAILED:", t, e)
        failed.append(t)
    
    time.sleep(0.10)  # avoid rate limit

print("\nSuccess:", len(all_data), "stocks")
print("Failed:", len(failed), failed)

Downloading: MMM
Downloading: AOS
Downloading: ABT
Downloading: ABBV
FAILED: ABBV Insufficient history
Downloading: ACN
Downloading: ADBE
Downloading: AMD
Downloading: AES
Downloading: AFL
Downloading: A
Downloading: AAP
Downloading: AMT
Downloading: AWK
Downloading: AMP
Downloading: COR
Downloading: AME
Downloading: AMGN
Downloading: APH
Downloading: ADI
Downloading: ELV
Downloading: AON
Downloading: APA
Downloading: AAPL
Downloading: AMAT
Downloading: APTV
FAILED: APTV Insufficient history
Downloading: ADM
Downloading: ANET
FAILED: ANET Insufficient history
Downloading: AJG
Downloading: AIZ
Downloading: T
Downloading: ATO
Downloading: ADSK
Downloading: AZO
Downloading: AVB
Downloading: AVY
Downloading: BKR
Downloading: BALL
Downloading: BAC
Downloading: BK
Downloading: BAX
Downloading: BDX
Downloading: BRO
Downloading: BBWI
Downloading: BR
Downloading: BMY
Downloading: AVGO
Downloading: BRK-B
Downloading: CDNS
Downloading: CZR
FAILED: CZR Insufficient history
Downloading: CPB
Downloading: COF
Downloading: CAH
Downloading: KMX
Downloading: CCL
Downloading: CARR
FAILED: CARR Insufficient history
Downloading: CAT
Downloading: CBOE
FAILED: CBOE Insufficient history
Downloading: CBRE
Downloading: CDW
FAILED: CDW Insufficient history
Downloading: CE
Downloading: CNC
Downloading: CNP
Downloading: DAY
FAILED: DAY Insufficient history
Downloading: CF
Downloading: CRL
Downloading: SCHW
Downloading: CHTR
FAILED: CHTR Insufficient history
Downloading: CVX
Downloading: CMG
Downloading: CB
Downloading: CHD
Downloading: CI
Downloading: CINF
Downloading: CTAS
Downloading: CSCO
Downloading: C
Downloading: CFG
FAILED: CFG Insufficient history
Downloading: CLX
Downloading: CME
Downloading: CMS
Downloading: KO
Downloading: CTSH
Downloading: CL
Downloading: CMCSA
Downloading: CMA
Downloading: CAG
Downloading: COP
Downloading: ED
Downloading: STZ
Downloading: CEG
FAILED: CEG Insufficient history
Downloading: COO
Downloading: CPRT
Downloading: GLW
Downloading: CTVA
FAILED: CTVA Insufficient history
Downloading: CSX
Downloading: CMI
Downloading: CVS
Downloading: DHI
Downloading: DHR
Downloading: DRI
Downloading: DVA
Downloading: DE
Downloading: DAL
Downloading: XRAY
Downloading: DVN
Downloading: DXCM
Downloading: FANG
FAILED: FANG Insufficient history
Downloading: DLR
Downloading: DIS
Downloading: DG
Downloading: DLTR
Downloading: D
Downloading: DPZ
Downloading: DOV
Downloading: DOW
FAILED: DOW Insufficient history
Downloading: DTE
Downloading: DUK
Downloading: DD
Downloading: DXC
Downloading: EMN
Downloading: ETN
Downloading: EBAY
Downloading: ECL
Downloading: EIX
Downloading: EW
Downloading: EA
Downloading: EMR
Downloading: ENPH
FAILED: ENPH Insufficient history
Downloading: ETR
Downloading: EOG
Downloading: EFX
Downloading: EQIX
Downloading: EQR
Downloading: ESS
Downloading: EL
Downloading: ETSY
FAILED: ETSY Insufficient history
Downloading: EG
Downloading: EXC
Downloading: EXPE
Downloading: EXPD
Downloading: EXR
Downloading: XOM
Downloading: FFIV
Downloading: FDS
Downloading: FIS
Downloading: FITB
Downloading: FE
Downloading: FISV
Downloading: CORP
FAILED: CORP Insufficient history
Downloading: FMC
Downloading: F
Downloading: FTNT
Downloading: FTV
FAILED: FTV Insufficient history
Downloading: FBIN
FAILED: FBIN Insufficient history
Downloading: FOXA
FAILED: FOXA Insufficient history
Downloading: FOX
FAILED: FOX Insufficient history
Downloading: BEN
Downloading: FCX
Downloading: GRMN
Downloading: IT
Downloading: GNRC
FAILED: GNRC Insufficient history
Downloading: GD
Downloading: GE
Downloading: GIS
Downloading: GM
FAILED: GM Insufficient history
Downloading: GPC
Downloading: GILD
Downloading: GPN
Downloading: GL
Downloading: GS
Downloading: HAL
Downloading: HIG
Downloading: HAS
Downloading: HCA
FAILED: HCA Insufficient history
Downloading: DOC
Downloading: HSIC
Downloading: HSY
Downloading: HPE
FAILED: HPE Insufficient history
Downloading: HLT
FAILED: HLT Insufficient history
Downloading: HOLX
Downloading: HD
Downloading: HON
Downloading: HRL
Downloading: HST
Downloading: HWM
FAILED: HWM Insufficient history
Downloading: HPQ
Downloading: HUM
Downloading: HBAN
Downloading: HII
FAILED: HII Insufficient history
Downloading: IBM
Downloading: IEX
Downloading: IDXX
Downloading: ITW
Downloading: ILMN
Downloading: INCY
Downloading: IR
FAILED: IR Insufficient history
Downloading: INTC
Downloading: ICE
Downloading: IFF
Downloading: IP
Downloading: IPG
Downloading: INTU
Downloading: ISRG
Downloading: IVZ
Downloading: IPGP
Downloading: IQV
FAILED: IQV Insufficient history
Downloading: IRM
Downloading: JBHT
Downloading: J
Downloading: SJM
Downloading: JNJ
Downloading: JCI
Downloading: JPM
Downloading: K
Downloading: KEY
Downloading: KEYS
FAILED: KEYS Insufficient history
Downloading: KMB
Downloading: KIM
Downloading: KMI
FAILED: KMI Insufficient history
Downloading: KLAC
Downloading: KHC
FAILED: KHC Insufficient history
Downloading: KR
Downloading: LHX
Downloading: LH
Downloading: LRCX
Downloading: LW
FAILED: LW Insufficient history
Downloading: LVS
Downloading: LDOS
Downloading: LEN
Downloading: LLY
Downloading: LNC
Downloading: LIN
Downloading: LYV
Downloading: LKQ
Downloading: LMT
Downloading: L
Downloading: LOW
Downloading: LUMN
Downloading: LYB
FAILED: LYB Insufficient history
Downloading: MTB
Downloading: MPC
FAILED: MPC Insufficient history
Downloading: MKTX
Downloading: MAR
Downloading: MMC
Downloading: MLM
Downloading: MAS
Downloading: MA
Downloading: MTCH
Downloading: MKC
Downloading: MCD
Downloading: MCK
Downloading: MDT
Downloading: MRK
Downloading: META
FAILED: META Insufficient history
Downloading: MTD
Downloading: MGM
Downloading: MCHP
Downloading: MU
Downloading: MSFT
Downloading: MAA
Downloading: MRNA
FAILED: MRNA Insufficient history
Downloading: MHK
Downloading: TAP
Downloading: MDLZ
Downloading: MPWR
Downloading: MNST
Downloading: MCO
Downloading: MS
Downloading: MOS
Downloading: MSI
Downloading: MSCI
Downloading: NDAQ
Downloading: NTAP
Downloading: NFLX
Downloading: NWL
Downloading: NEM
Downloading: NWSA
FAILED: NWSA Insufficient history
Downloading: NWS
FAILED: NWS Insufficient history
Downloading: NEE
Downloading: NKE
Downloading: NI
Downloading: NSC
Downloading: NTRS
Downloading: NOC
Downloading: GEN
Downloading: NVR
Downloading: NXPI
FAILED: NXPI Insufficient history
Downloading: ORLY
Downloading: OXY
Downloading: ODFL
Downloading: OMC
Downloading: OKE
Downloading: ORCL
Downloading: OGN
FAILED: OGN Insufficient history
Downloading: OTIS
FAILED: OTIS Insufficient history
Downloading: PCAR
Downloading: PKG
Downloading: PH
Downloading: PAYX
Downloading: PAYC
FAILED: PAYC Insufficient history
Downloading: PFE
Downloading: PM
Downloading: PSX
FAILED: PSX Insufficient history
Downloading: PNW
Downloading: PNC
Downloading: POOL
Downloading: PPG
Downloading: PPL
Downloading: PFG
Downloading: PG
Downloading: PGR
Downloading: PLD
Downloading: PRU
Downloading: PEG
Downloading: PSA
Downloading: PHM
Downloading: PVH
Downloading: QRVO
FAILED: QRVO Insufficient history
Downloading: QCOM
Downloading: DGX
Downloading: RL
Downloading: ROP
Downloading: ROST
Downloading: RCL
Downloading: SPGI
Downloading: CRM
Downloading: SBAC
Downloading: SLB
Downloading: STX
Downloading: SEE
Downloading: SRE
Downloading: SHW
Downloading: SPG
Downloading: SWKS
Downloading: SNA
Downloading: SO
Downloading: LUV
Downloading: SWK
Downloading: SBUX
Downloading: STT
Downloading: STE
Downloading: SYK
Downloading: SYF
FAILED: SYF Insufficient history
Downloading: SNPS
Downloading: SYY
Downloading: TMUS
Downloading: TROW
Downloading: TT
Downloading: TDY
Downloading: TFX
Downloading: TER
Downloading: TSLA
FAILED: TSLA Insufficient history
Downloading: TXN
Downloading: TXT
Downloading: TMO
Downloading: TJX
Downloading: TSCO
Downloading: TTWO
Downloading: TDG
Downloading: TRV
Downloading: TRMB
Downloading: TFC
Downloading: TYL
Downloading: TSN
Downloading: UDR
Downloading: ULTA
Downloading: USB
Downloading: UAA
Downloading: UA
FAILED: UA Insufficient history
Downloading: UNP
Downloading: UAL
Downloading: UPS
Downloading: URI
Downloading: UNH
Downloading: UHS
Downloading: VFC
Downloading: VTR
Downloading: VTRS
Downloading: VICI
FAILED: VICI Insufficient history
Downloading: VZ
Downloading: V
Downloading: VNO
Downloading: VMC
Downloading: WRB
Downloading: WAB
Downloading: WMT
Downloading: DIS
Downloading: WM
Downloading: WAT
Downloading: WEC
Downloading: WFC
Downloading: WELL
Downloading: WDC
Downloading: WHR
Downloading: WMB
Downloading: WTW
Downloading: WYNN
Downloading: XEL
Downloading: XYL
FAILED: XYL Insufficient history
Downloading: YUM
Downloading: ZBRA
Downloading: ZBH
Downloading: ZION
Downloading: ZTS
FAILED: ZTS Insufficient history

Success: 351 stocks
Failed: 52 ['ABBV', 'APTV', 'ANET', 'CZR', 'CARR', 'CBOE', 'CDW', 'DAY', 'CHTR', 'CFG', 'CEG', 'CTVA', 'FANG', 'DOW', 'ENPH', 'ETSY', 'CORP', 'FTV', 'FBIN', 'FOXA', 'FOX', 'GNRC', 'GM', 'HCA', 'HPE', 'HLT', 'HWM', 'HII', 'IR', 'IQV', 'KEYS', 'KMI', 'KHC', 'LW', 'LYB', 'MPC', 'META', 'MRNA', 'NWSA', 'NWS', 'NXPI', 'OGN', 'OTIS', 'PAYC', 'PSX', 'QRVO', 'SYF', 'TSLA', 'UA', 'VICI', 'XYL', 'ZTS']

In [25]:
all_data

{'MMM': Ticker             MMM
 Date
 2000-01-03   19.343809
 2000-01-04   18.575178
 2000-01-05   19.113220
 2000-01-06   20.650475
 2000-01-07   21.060404
 ...                ...
 2025-11-11  167.948334
 2025-11-12  170.348022
 2025-11-13  169.889984
 2025-11-14  167.580002
 2025-11-17  165.389999

 [6509 rows x 1 columns],
 'AOS': Ticker            AOS
 Date
 2000-01-03   2.265212
 2000-01-04   2.232574
 2000-01-05   2.226045
 2000-01-06   2.193405
 2000-01-07   2.284798
 ...               ...
 2025-11-11  65.790001
 2025-11-12  66.370003
 2025-11-13  66.089996
 2025-11-14  64.739998
 2025-11-17  63.310001

 [6509 rows x 1 columns],
 'ABT': Ticker             ABT
 Date
 2000-01-03    8.134056
 2000-01-04    7.901651
 2000-01-05    7.887127
 2000-01-06    8.163101
 2000-01-07    8.250257
 ...                ...
 2025-11-11  127.000000
 2025-11-12  128.820007
 2025-11-13  129.259995
 2025-11-14  130.589996
 2025-11-17  130.029999

 [6509 rows x 1 columns],
 'ACN': Ticker             ACN
 Date
 2001-07-19   10.603370
 2001-07-20   10.491530
 2001-07-23   10.484544
 2001-07-24   10.386687
 2001-07-25   10.449594
 ...                ...
 2025-11-11  242.559998
 2025-11-12  246.529999
 2025-11-13  247.570007
 2025-11-14  245.210007
 2025-11-17  241.330002

 [6120 rows x 1 columns],
 'ADBE': Ticker            ADBE
 Date
 2000-01-03   16.274672
 2000-01-04   14.909399
 2000-01-05   15.204174
 2000-01-06   15.328291
 2000-01-07   16.072983
 ...                ...
 2025-11-11  333.220001
 2025-11-12  337.049988
 2025-11-13  333.600006
 2025-11-14  331.109985
 2025-11-17  325.070007

 [6509 rows x 1 columns],
 'AMD': Ticker             AMD
 Date
 2000-01-03   15.500000
 2000-01-04   14.625000
 2000-01-05   15.000000
 2000-01-06   16.000000
 2000-01-07   16.250000
 ...                ...
 2025-11-11  237.520004
 2025-11-12  258.890015
 2025-11-13  247.960007
 2025-11-14  246.809998
 2025-11-17  240.520004

 [6509 rows x 1 columns],
 'AES': Ticker            AES
 Date
 2000-01-03  23.409927
 2000-01-04  22.481602
 2000-01-05  22.723774
 2000-01-06  22.905401
 2000-01-07  23.349386
 ...               ...
 2025-11-11  14.270000
 2025-11-12  14.070000
 2025-11-13  13.670000
 2025-11-14  13.820000
 2025-11-17  13.920000

 [6509 rows x 1 columns],
 'AFL': Ticker             AFL
 Date
 2000-01-03    6.703291
 2000-01-04    6.525413
 2000-01-05    6.487959
 2000-01-06    6.619036
 2000-01-07    6.750107
 ...                ...
 2025-11-11  113.790001
 2025-11-12  114.610001
 2025-11-13  115.010002
 2025-11-14  114.339996
 2025-11-17  112.269997

 [6509 rows x 1 columns],
 'A': Ticker               A
 Date
 2000-01-03   43.113316
 2000-01-04   39.819942
 2000-01-05   37.349903
 2000-01-06   35.927769
 2000-01-07   38.921741
 ...                ...
 2025-11-11  149.419998
 2025-11-12  151.520004
 2025-11-13  146.889999
 2025-11-14  146.820007
 2025-11-17  144.520004

 [6509 rows x 1 columns],
 'AAP': Ticker            AAP
 Date
 2001-11-29  11.709893
 2001-11-30  12.036100
 2001-12-03  11.628337
 2001-12-04  11.164331
 2001-12-05  12.373564
 ...               ...
 2025-11-11  51.060001
 2025-11-12  51.020000
 2025-11-13  50.220001
 2025-11-14  50.029999
 2025-11-17  48.930000

 [6031 rows x 1 columns],
 'AMT': Ticker             AMT
 Date
 2000-01-03   21.641207
 2000-01-04   21.410488
 2000-01-05   22.056494
 2000-01-06   21.825783
 2000-01-07   23.025501
 ...                ...
 2025-11-11  184.789993
 2025-11-12  183.350006
 2025-11-13  181.130005
 2025-11-14  183.589996
 2025-11-17  180.470001

 [6509 rows x 1 columns],
 'AWK': Ticker             AWK
 Date
 2008-04-23   13.426180
 2008-04-24   13.563047
 2008-04-25   13.797680
 2008-04-28   13.686885
 2008-04-29   13.732507
 ...                ...
 2025-11-11  129.180466
 2025-11-12  128.942001
 2025-11-13  131.460007
 2025-11-14  131.619995
 2025-11-17  132.679993

 [4422 rows x 1 columns],
 'AMP': Ticker             AMP
 Date
 2005-09-15   24.777843
 2005-09-16   24.503365
 2005-09-19   24.570312
 2005-09-20   24.570312
 2005-09-21   24.369469
 ...                ...
 2025-11-11  464.940002
 2025-11-12  470.540009
 2025-11-13  459.420013
 2025-11-14  458.000000
 2025-11-17  440.799988

 [5076 rows x 1 columns],
 'COR': Ticker             COR
 Date
 2000-01-03    2.498965
 2000-01-04    2.328353
 2000-01-05    2.508999
 2000-01-06    2.699685
 2000-01-07    3.050945
 ...                ...
 2025-11-11  364.480591
 2025-11-12  362.823334
 2025-11-13  364.850006
 2025-11-14  361.940002
 2025-11-17  365.000000

 [6509 rows x 1 columns],
 'AME': Ticker             AME
 Date
 2000-01-03    2.331313
 2000-01-04    2.323644
 2000-01-05    2.346651
 2000-01-06    2.331313
 2000-01-07    2.361989
 ...                ...
 2025-11-11  197.639999
 2025-11-12  196.789993
 2025-11-13  194.149994
 2025-11-14  193.360001
 2025-11-17  191.190002

 [6509 rows x 1 columns],
 'AMGN': Ticker            AMGN
 Date
 2000-01-03   43.170929
 2000-01-04   39.869862
 2000-01-05   41.241730
 2000-01-06   41.927670
 2000-01-07   46.643452
 ...                ...
 2025-11-11  338.450012
 2025-11-12  336.279999
 2025-11-13  336.000000
 2025-11-14  336.739990
 2025-11-17  341.709991

 [6509 rows x 1 columns],
 'APH': Ticker             APH
 Date
 2000-01-03    0.914694
 2000-01-04    0.883240
 2000-01-05    0.863689
 2000-01-06    0.839886
 2000-01-07    0.848386
 ...                ...
 2025-11-11  143.470001
 2025-11-12  141.919998
 2025-11-13  135.250000
 2025-11-14  133.740005
 2025-11-17  132.330002

 [6509 rows x 1 columns],
 'ADI': Ticker             ADI
 Date
 2000-01-03   27.737499
 2000-01-04   26.334280
 2000-01-05   26.718718
 2000-01-06   25.988285
 2000-01-07   26.718718
 ...                ...
 2025-11-11  233.410004
 2025-11-12  241.440002
 2025-11-13  237.529999
 2025-11-14  234.889999
 2025-11-17  229.940002

 [6509 rows x 1 columns],
 'ELV': Ticker             ELV
 Date
 2001-10-30   16.424875
 2001-10-31   16.818424
 2001-11-01   16.934885
 2001-11-02   17.228041
 2001-11-05   17.224020
 ...                ...
 2025-11-11  315.250000
 2025-11-12  327.630005
 2025-11-13  328.279999
 2025-11-14  325.829987
 2025-11-17  330.910004

 [6052 rows x 1 columns],
 'AON': Ticker             AON
 Date
 2000-01-03   26.473606
 2000-01-04   25.879633
 2000-01-05   26.643303
 2000-01-06   27.576660
 2000-01-07   29.019125
 ...                ...
 2025-11-11  349.929993
 2025-11-12  350.109985
 2025-11-13  350.940002
 2025-11-14  350.130005
 2025-11-17  350.019989

 [6509 rows x 1 columns],
 'APA': Ticker            APA
 Date
 2000-01-03  10.210082
 2000-01-04   9.761289
 2000-01-05  10.041789
 2000-01-06  10.995481
 2000-01-07  10.958076
 ...               ...
 2025-11-11  24.590000
 2025-11-12  23.889999
 2025-11-13  24.690001
 2025-11-14  24.790001
 2025-11-17  24.379999

 [6509 rows x 1 columns],
 'AAPL': Ticker            AAPL
 Date
 2000-01-03    0.839281
 2000-01-04    0.768521
 2000-01-05    0.779767
 2000-01-06    0.712287
 2000-01-07    0.746027
 ...                ...
 2025-11-11  275.250000
 2025-11-12  273.470001
 2025-11-13  272.950012
 2025-11-14  272.410004
 2025-11-17  267.459991

 [6509 rows x 1 columns],
 'AMAT': Ticker            AMAT
 Date
 2000-01-03   22.953600
 2000-01-04   21.819536
 2000-01-05   21.003006
 2000-01-06   21.037022
 2000-01-07   21.218464
 ...                ...
 2025-11-11  228.669998
 2025-11-12  230.729996
 2025-11-13  223.229996
 2025-11-14  226.009995
 2025-11-17  228.710007

 [6509 rows x 1 columns],
 'ADM': Ticker            ADM
 Date
 2000-01-03   6.064443
 2000-01-04   6.001270
 2000-01-05   5.906514
 2000-01-06   5.938098
 2000-01-07   6.032857
 ...               ...
 2025-11-11  57.630001
 2025-11-12  57.750000
 2025-11-13  58.830002
 2025-11-14  58.610001
 2025-11-17  58.740002

 [6509 rows x 1 columns],
 'AJG': Ticker             AJG
 Date
 2000-01-03    7.515316
 2000-01-04    7.175724
 2000-01-05    7.205259
 2000-01-06    7.192335
 2000-01-07    7.471025
 ...                ...
 2025-11-11  255.000000
 2025-11-12  255.860001
 2025-11-13  256.709991
 2025-11-14  258.510010
 2025-11-17  259.309998

 [6509 rows x 1 columns],
 'AIZ': Ticker             AIZ
 Date
 2004-02-05   16.913548
 2004-02-06   17.016268
 2004-02-09   16.756058
 2004-02-10   16.673893
 2004-02-11   16.605404
 ...                ...
 2025-11-11  225.520004
 2025-11-12  226.479996
 2025-11-13  227.050003
 2025-11-14  228.589996
 2025-11-17  224.830002

 [5482 rows x 1 columns],
 'T': Ticker              T
 Date
 2000-01-03   6.324179
 2000-01-04   5.954145
 2000-01-05   6.046655
 2000-01-06   5.929496
 2000-01-07   5.980322
 ...               ...
 2025-11-11  25.180000
 2025-11-12  25.650000
 2025-11-13  25.750000
 2025-11-14  25.590000
 2025-11-17  25.469999

 [6509 rows x 1 columns],
 'ATO': Ticker             ATO
 Date
 2000-01-03    7.750481
 2000-01-04    7.557323
 2000-01-05    7.798772
 2000-01-06    7.678047
 2000-01-07    7.750481
 ...                ...
 2025-11-11  178.660004
 2025-11-12  177.830002
 2025-11-13  177.970001
 2025-11-14  175.119995
 2025-11-17  175.679993

 [6509 rows x 1 columns],
 'ADSK': Ticker            ADSK
 Date
 2000-01-03    8.052905
 2000-01-04    7.660816
 2000-01-05    7.178246
 2000-01-06    6.740914
 2000-01-07    7.540175
 ...                ...
 2025-11-11  301.859985
 2025-11-12  301.739990
 2025-11-13  297.170013
 2025-11-14  299.390015
 2025-11-17  291.959991

 [6509 rows x 1 columns],
 'AZO': Ticker              AZO
 Date
 2000-01-03    30.562500
 2000-01-04    30.437500
 2000-01-05    30.312500
 2000-01-06    29.062500
 2000-01-07    30.437500
 ...                 ...
 2025-11-11  3756.239990
 2025-11-12  3788.699951
 2025-11-13  3819.290039
 2025-11-14  3856.870117
 2025-11-17  3855.260010

 [6509 rows x 1 columns],
 'AVB': Ticker             AVB
 Date
 2000-01-03   12.243700
 2000-01-04   11.973125
 2000-01-05   12.085862
 2000-01-06   12.491732
 2000-01-07   12.807407
 ...                ...
 2025-11-11  178.839996
 2025-11-12  178.050003
 2025-11-13  176.979996
 2025-11-14  177.699997
 2025-11-17  177.509995

 [6509 rows x 1 columns],
 'AVY': Ticker             AVY
 Date
 2000-01-03   38.289894
 2000-01-04   37.786972
 2000-01-05   39.027531
 2000-01-06   40.402218
 2000-01-07   40.536324
 ...                ...
 2025-11-11  174.309998
 2025-11-12  174.009995
 2025-11-13  176.410004
 2025-11-14  172.910004
 2025-11-17  170.759995

 [6509 rows x 1 columns],
 'BKR': Ticker            BKR
 Date
 2000-01-03   9.059412
 2000-01-04   9.059412
 2000-01-05   9.115336
 2000-01-06   9.982131
 2000-01-07  10.653199
 ...               ...
 2025-11-11  48.950001
 2025-11-12  47.529999
 2025-11-13  47.509998
 2025-11-14  48.730000
 2025-11-17  47.880001

 [6509 rows x 1 columns],
 'BALL': Ticker           BALL
 Date
 2000-01-03   1.929507
 2000-01-04   1.865898
 2000-01-05   1.899217
 2000-01-06   1.929507
 2000-01-07   1.874984
 ...               ...
 2025-11-11  47.250000
 2025-11-12  46.470001
 2025-11-13  47.939999
 2025-11-14  47.599998
 2025-11-17  47.520000

 [6509 rows x 1 columns],
 'BAC': Ticker            BAC
 Date
 2000-01-03  12.490800
 2000-01-04  11.749419
 2000-01-05  11.878345
 2000-01-06  12.893734
 2000-01-07  12.555266
 ...               ...
 2025-11-11  53.630001
 2025-11-12  54.110001
 2025-11-13  52.869999
 2025-11-14  52.610001
 2025-11-17  51.480000

 [6509 rows x 1 columns],
 'BK': Ticker              BK
 Date
 2000-01-03   21.555700
 2000-01-04   20.936705
 2000-01-05   20.463360
 2000-01-06   20.973110
 2000-01-07   22.065468
 ...                ...
 2025-11-11  111.250000
 2025-11-12  112.639999
 2025-11-13  111.040001
 2025-11-14  110.480003
 2025-11-17  106.769997

 [6509 rows x 1 columns],
 'BAX': Ticker            BAX
 Date
 2000-01-03   9.941563
 2000-01-04   9.718843
 2000-01-05  10.144041
 2000-01-06  10.356643
 2000-01-07  10.943820
 ...               ...
 2025-11-11  18.250000
 2025-11-12  18.700001
 2025-11-13  18.700001
 2025-11-14  18.469999
 2025-11-17  17.770000

 [6509 rows x 1 columns],
 'BDX': Ticker             BDX
 Date
 2000-01-03   17.098978
 2000-01-04   16.650070
 2000-01-05   16.772505
 2000-01-06   17.466255
 2000-01-07   18.445677
 ...                ...
 2025-11-11  189.020004
 2025-11-12  192.119995
 2025-11-13  193.039993
 2025-11-14  193.039993
 2025-11-17  190.979996

 [6509 rows x 1 columns],
 'BRO': Ticker            BRO
 Date
 2000-01-03   1.811822
 2000-01-04   1.811822
 2000-01-05   1.805840
 2000-01-06   1.805840
 2000-01-07   1.829758
 ...               ...
 2025-11-11  80.040001
 2025-11-12  80.199997
 2025-11-13  80.059998
 2025-11-14  80.699997
 2025-11-17  80.709999

 [6509 rows x 1 columns],
 'BBWI': Ticker           BBWI
 Date
 2000-01-03   5.373128
 2000-01-04   5.265501
 2000-01-05   5.190986
 2000-01-06   5.108196
 2000-01-07   5.141315
 ...               ...
 2025-11-11  21.959999
 2025-11-12  22.400000
 2025-11-13  21.990000
 2025-11-14  22.000000
 2025-11-17  21.450001

 [6509 rows x 1 columns],
 'BR': Ticker              BR
 Date
 2007-03-22   13.896086
 2007-03-23   14.055092
 2007-03-26   14.290154
 2007-03-27   14.068926
 2007-03-28   13.757821
 ...                ...
 2025-11-11  222.869995
 2025-11-12  223.660004
 2025-11-13  225.610001
 2025-11-14  226.059998
 2025-11-17  224.770004

 [4696 rows x 1 columns],
 'BMY': Ticker            BMY
 Date
 2000-01-03  23.440105
 2000-01-04  21.666742
 2000-01-05  21.527945
 2000-01-06  21.824726
 2000-01-07  25.020803
 ...               ...
 2025-11-11  48.720001
 2025-11-12  49.080002
 2025-11-13  48.630001
 2025-11-14  46.650002
 2025-11-17  46.810001

 [6509 rows x 1 columns],
 'AVGO': Ticker            AVGO
 Date
 2009-08-06    1.141955
 2009-08-07    1.159600
 2009-08-10    1.127133
 2009-08-11    1.105960
 2009-08-12    1.129251
 ...                ...
 2025-11-11  351.959991
 2025-11-12  355.220001
 2025-11-13  339.980011
 2025-11-14  342.459991
 2025-11-17  342.649994

 [4097 rows x 1 columns],
 'BRK-B': Ticker           BRK-B
 Date
 2000-01-03   35.299999
 2000-01-04   34.080002
 2000-01-05   34.639999
 2000-01-06   36.080002
 2000-01-07   36.400002
 ...                ...
 2025-11-11  497.070007
 2025-11-12  502.399994
 2025-11-13  513.109985
 2025-11-14  508.940002
 2025-11-17  503.260010

 [6509 rows x 1 columns],
 'CDNS': Ticker            CDNS
 Date
 2000-01-03   22.062500
 2000-01-04   22.000000
 2000-01-05   21.625000
 2000-01-06   20.937500
 2000-01-07   22.312500
 ...                ...
 2025-11-11  318.510010
 2025-11-12  315.540009
 2025-11-13  315.989990
 2025-11-14  314.929993
 2025-11-17  311.290009

 [6509 rows x 1 columns],
 'CPB': Ticker            CPB
 Date
 2000-01-03  17.411263
 2000-01-04  16.768564
 2000-01-05  16.727409
 2000-01-06  17.080191
 2000-01-07  17.403561
 ...               ...
 2025-11-11  31.549999
 2025-11-12  31.170000
 2025-11-13  31.230000
 2025-11-14  31.290001
 2025-11-17  30.730000

 [6509 rows x 1 columns],
 'COF': Ticker             COF
 Date
 2000-01-03   33.436287
 2000-01-04   31.354998
 2000-01-05   30.631046
 2000-01-06   32.033680
 2000-01-07   32.938560
 ...                ...
 2025-11-11  219.913635
 2025-11-12  221.288406
 2025-11-13  215.978592
 2025-11-14  210.349991
 2025-11-17  201.009995

 [6509 rows x 1 columns],
 'CAH': Ticker             CAH
 Date
 2000-01-03   14.849896
 2000-01-04   14.680497
 2000-01-05   15.715672
 2000-01-06   16.261480
 2000-01-07   17.729536
 ...                ...
 2025-11-11  204.809998
 2025-11-12  204.320007
 2025-11-13  206.059998
 2025-11-14  205.369995
 2025-11-17  206.179993

 [6509 rows x 1 columns],
 'KMX': Ticker            KMX
 Date
 2000-01-03   1.125000
 2000-01-04   1.093750
 2000-01-05   1.062500
 2000-01-06   1.125000
 2000-01-07   1.187500
 ...               ...
 2025-11-11  34.139999
 2025-11-12  34.419998
 2025-11-13  34.790001
 2025-11-14  34.430000
 2025-11-17  32.110001

 [6509 rows x 1 columns],
 'CCL': Ticker            CCL
 Date
 2000-01-03  28.774658
 2000-01-04  28.429365
 2000-01-05  29.388527
 2000-01-06  29.810551
 2000-01-07  29.465269
 ...               ...
 2025-11-11  26.790001
 2025-11-12  27.129999
 2025-11-13  26.139999
 2025-11-14  26.020000
 2025-11-17  25.360001

 [6509 rows x 1 columns],
 'CAT': Ticker             CAT
 Date
 2000-01-03   12.574050
 2000-01-04   12.412426
 2000-01-05   12.703347
 2000-01-06   13.349824
 2000-01-07   13.786193
 ...                ...
 2025-11-11  567.929993
 2025-11-12  573.020020
 2025-11-13  553.549988
 2025-11-14  554.030029
 2025-11-17  552.049988

 [6509 rows x 1 columns],
 'CBRE': Ticker            CBRE
 Date
 2004-06-10    6.116667
 2004-06-14    6.066667
 2004-06-15    6.250000
 2004-06-16    6.333333
 2004-06-17    6.350000
 ...                ...
 2025-11-11  154.899994
 2025-11-12  155.399994
 2025-11-13  153.169998
 2025-11-14  153.660004
 2025-11-17  149.410004

 [5395 rows x 1 columns],
 'CE': Ticker             CE
 Date
 2005-01-21  12.014886
 2005-01-24  12.014886
 2005-01-25  11.752059
 2005-01-26  11.707006
 2005-01-27  11.849682
 ...               ...
 2025-11-11  41.400002
 2025-11-12  39.119999
 2025-11-13  39.970001
 2025-11-14  38.939999
 2025-11-17  36.930000

 [5240 rows x 1 columns],
 'CNC': Ticker            CNC
 Date
 2001-12-13   1.433333
 2001-12-14   1.391667
 2001-12-17   1.415000
 2001-12-18   1.438333
 2001-12-19   1.725833
 ...               ...
 2025-11-11  35.360001
 2025-11-12  36.200001
 2025-11-13  36.090000
 2025-11-14  36.380001
 2025-11-17  37.080002

 [6021 rows x 1 columns],
 'CNP': Ticker            CNP
 Date
 2000-01-03   5.444053
 2000-01-04   5.505225
 2000-01-05   5.734607
 2000-01-06   5.765192
 2000-01-07   5.856946
 ...               ...
 2025-11-11  39.689999
 2025-11-12  39.580002
 2025-11-13  39.580002
 2025-11-14  39.740002
 2025-11-17  40.180000

 [6509 rows x 1 columns],
 'CF': Ticker             CF
 Date
 2005-08-11   2.230152
 2005-08-12   2.468310
 2005-08-15   2.381582
 2005-08-16   2.360932
 2005-08-17   2.319633
 ...               ...
 2025-11-11  83.183853
 2025-11-12  84.247505
 2025-11-13  83.830002
 2025-11-14  85.040001
 2025-11-17  80.690002

 [5100 rows x 1 columns],
 'CRL': Ticker             CRL
 Date
 2000-06-23   22.000000
 2000-06-26   21.875000
 2000-06-27   21.562500
 2000-06-28   21.562500
 2000-06-29   21.187500
 ...                ...
 2025-11-11  173.500000
 2025-11-12  171.500000
 2025-11-13  169.210007
 2025-11-14  167.809998
 2025-11-17  162.740005

 [6389 rows x 1 columns],
 'SCHW': Ticker           SCHW
 Date
 2000-01-03  17.877663
 2000-01-04  17.636074
 2000-01-05  17.756876
 2000-01-06  17.756876
 2000-01-07  18.783619
 ...               ...
 2025-11-11  95.847847
 2025-11-12  97.433342
 2025-11-13  95.089996
 2025-11-14  94.389999
 2025-11-17  91.910004

 [6509 rows x 1 columns],
 'CVX': Ticker             CVX
 Date
 2000-01-03   16.052584
 2000-01-04   16.052584
 2000-01-05   16.340523
 2000-01-06   17.036377
 2000-01-07   17.336306
 ...                ...
 2025-11-11  156.240005
 2025-11-12  153.320007
 2025-11-13  155.580002
 2025-11-14  157.619995
 2025-11-17  154.820007

 [6509 rows x 1 columns],
 'CMG': Ticker            CMG
 Date
 2006-01-26   0.880000
 2006-01-27   0.844000
 2006-01-30   0.896000
 2006-01-31   0.950400
 2006-02-01   0.931200
 ...               ...
 2025-11-11  29.809999
 2025-11-12  31.320000
 2025-11-13  31.379999
 2025-11-14  31.570000
 2025-11-17  30.530001

 [4985 rows x 1 columns],
 'CB': Ticker              CB
 Date
 2000-01-03    9.683934
 2000-01-04    9.609723
 2000-01-05    9.053176
 2000-01-06    9.535521
 2000-01-07   10.759926
 ...                ...
 2025-11-11  292.420013
 2025-11-12  294.929993
 2025-11-13  296.220001
 2025-11-14  295.489990
 2025-11-17  295.579987

 [6509 rows x 1 columns],
 'CHD': Ticker            CHD
 Date
 2000-01-03   3.158876
 2000-01-04   3.082943
 2000-01-05   3.082943
 2000-01-06   3.189251
 2000-01-07   3.310744
 ...               ...
 2025-11-11  85.213020
 2025-11-12  85.083466